
columbiaAnalytics/.ipynb_checkpoints/Web scraping Recipes-checkpoint.ipynb

columbiaAnalytics/dataAV/.ipynb_checkpoints/numpy-checkpoint.ipynb

columbiaAnalytics/dataAV/padans/.ipynb_checkpoints/pandas-checkpoint.ipynb

columbiaAnalytics/dataAV/.ipynb_checkpoints/Data_Cleaning-checkpoint.ipynb
