
columbiaAnalytics/.ipynb_checkpoints/Web scraping Recipes-checkpoint.ipynb

columbiaAnalytics/dataAV/.ipynb_checkpoints/numpy-checkpoint.ipynb

columbiaAnalytics/dataAV/padans/.ipynb_checkpoints/pandas-checkpoint.ipynb

columbiaAnalytics/dataAV/.ipynb_checkpoints/Data_Cleaning-checkpoint.ipynb

columbiaAnalytics/dataAV/.ipynb_checkpoints/Data processing-checkpoint.ipynb

columbiaAnalytics/textMining/__pycache__/naive_summary.cpython-36.pyc

columbiaAnalytics/textMining/.ipynb_checkpoints/Gensim-checkpoint.ipynb

columbiaAnalytics/textMining/.ipynb_checkpoints/inaugural-checkpoint.ipynb

columbiaAnalytics/textMining/.ipynb_checkpoints/text_mining_edx-checkpoint.ipynb
